
.bg-m55 {
    background-color: rgb(84,177,89);
}
a,p,h1-h6{
	font-family: 'Ubuntu Condensed', sans-serif;
	weight: 600;
}
.navbar .navbar-nav .nav-link {
    font-size: 1em;
}
.navbar .navbar-brand {
    font-size: 1.2em;
}